# -----------------------------------------------------------------
# Project:                               God of Gnome
# Conky Theme:                           Gold Archy Artics v.2019
# Author:                                Alex Platon
# YouTube:                               https://bit.ly/2XAFjOm
# Vkontakte:                             https://bit.ly/2TnF3mt
# Instagram:                             https://bit.ly/2XHOfBw
# -----------------------------------------------------------------

###Settings###
background yes
cpu_avg_samples 1
default_bar_size 100 8
default_graph_size 200 100
diskio_avg_samples 10
double_buffer yes
extra_newline no
if_up_strictness address
net_avg_samples 1
no_buffers yes
temperature_unit celsius
text_buffer_size 2048
short_units yes
update_interval 1
###End Settings###

###Position###
alignment top_right
gap_x 10
gap_y 46
minimum_size 300 740
maximum_width 300
###End Position###

###Borders###
border_inner_margin 0
border_outer_margin 10
border_width 0
draw_borders no
draw_graph_borders yes
draw_outline no
draw_shades no
###End Borders###

###Window###
own_window yes
own_window_argb_value 0
own_window_argb_visual yes

#own_window_class systemConky
own_window_color 3D3D3D
own_window_hints undecorate,sticky,skip_taskbar,skip_pager,below
#all options for own_window_type are normal, desktop, dock, panel or override
#best for Linux Mint 17.1 Cinnamon
own_window_type desktop
#best for Ubuntu 14.10 Utopic
#own_window_type dock
#own_window_transparent yes
#own_window_title system_conky
###End Window###

###Font###
max_text_width 0
override_utf8_locale yes
uppercase yes
use_spacer none
use_xft yes
xftfont Ubuntu:size=9
xftalpha 0.9
###End Font###

###Defining Colors###
#default_color FFFFFF
#default_outline_color 000000
#default_shade_color 000000
###End Color###

#own_window_colour 2F343F
own_window_transparent yes
#own_window_colour 3D414F
TEXT
# Нужно установить дополнительный шрифт для вашей системы: StyleBats [https://bit.ly/2okEwnr]
${color ffb236}${font Ubuntu:size=11:bold}${voffset 2}С И С T E M А  ${hr 2}${font}${color}
${voffset 8}
Проект: ${alignr}${nodename} GNOME EDITION
Дистрибутив: ${alignr}Manjaro 20.0
Ядро: ${alignr}${exec uname} ${exec uname -r}
Видеокарта: ${alignr}${execp  nvidia-smi --query-supported-clocks=gpu_name --format=csv,noheader}
Драйвер: ${alignr}Версия: ${execi 60000 nvidia-smi | grep "Driver Version"| awk {'print $3'}}
ПК работает уже: ${alignr}${uptime}

${color aa6fed}${font Ubuntu:size=11:bold}П Р O Ц E С С Ы  ${hr 2}${font}${color}

Процессор: $alignr${freq}MHz
Температура процессора: $alignr${execi 10 sensors | grep 'Core 0' | awk {'print $3'}}
График нагрузок: ${alignr}${cpugraph 12,180}

${font StyleBats:size=20}e${font}${offset 8}${voffset -12}CPU Core 1: ${alignr}${offset -10}${cpu cpu1}%${alignr}${cpubar cpu1}
 ${offset 30}CPU Core 2: ${alignr}${offset -10}${cpu cpu2}%${alignr}${cpubar cpu2}
 ${offset 30}CPU Core 3: ${alignr}${offset -10}${cpu cpu3}%${alignr}${cpubar cpu3}
 ${offset 30}CPU Core 4: ${alignr}${offset -10}${cpu cpu4}%${alignr}${cpubar cpu4}

${font Ubuntu:size=9:bold}Топ процессов${font}${alignr}                        ID           CPU%         M%    
${voffset 4}     1  -  ${top name 1}${alignr}${goto 170}${top pid 1} ${goto 222}${top cpu 1} ${goto 274}${top mem 1}
     2  -  ${top name 2}${alignr}${goto 170}${top pid 2} ${goto 222}${top cpu 2} ${goto 274}${top mem 2}
     3  -  ${top name 3}${alignr}${goto 170}${top pid 3} ${goto 222}${top cpu 3} ${goto 274}${top mem 3}
     4  -  ${top name 4}${alignr}${goto 170}${top pid 4} ${goto 222}${top cpu 4} ${goto 274}${top mem 4}
     5  -  ${top name 5}${alignr}${goto 170}${top pid 5} ${goto 222}${top cpu 5} ${goto 274}${top mem 5}

${color ff3650}${font Ubuntu:size=11:bold}П А M Я Т Ь   ${hr 2}${font}${color}

${font StyleBats:size=20}m${font}${offset 8}${voffset -12}RAM: ${alignr}${offset -10}${mem} / ${memmax}${alignr}${membar}
${offset 30}Swap: ${alignr}${offset -10}${swap} / ${swapmax}${alignr}${swapbar}

${font Ubuntu:size=9:bold}Топ процессов${font}${alignr}                        ID           CPU%         M%    
${voffset 4}     1  -  ${top_mem name 1}${alignr}${goto 170}${top_mem pid 1} ${goto 222}${top_mem cpu 1} ${goto 274}${top_mem mem 1}
     2  -  ${top_mem name 2}${alignr}${goto 170}${top_mem pid 2} ${goto 222}${top_mem cpu 2} ${goto 274}${top_mem mem 2}
     3  -  ${top_mem name 3}${alignr}${goto 170}${top_mem pid 3} ${goto 222}${top_mem cpu 3} ${goto 274}${top_mem mem 3}
     4  -  ${top_mem name 4}${alignr}${goto 170}${top_mem pid 4} ${goto 222}${top_mem cpu 4} ${goto 274}${top_mem mem 4}
     5  -  ${top_mem name 5}${alignr}${goto 170}${top_mem pid 5} ${goto 222}${top_mem cpu 5} ${goto 274}${top_mem mem 5}

${color 4289ed}${font Ubuntu:size=11:bold}Д И С К И   ${hr 2}${font}${color}

${font StyleBats:size=20}t${font}${offset 8}${voffset -12}Корень  -  SSD: ${alignr}${offset -10}${fs_used /} / ${fs_size /}${alignr}${fs_bar /}
${offset 30}I/O Read: ${alignr}${offset -10}${diskio_read /dev/sda1}${alignr}${diskiograph_read sda1 8,100}
${offset 30}I/O Write: ${alignr}${offset -10}${diskio_write /dev/sda1}${alignr}${diskiograph_write sda1 8,100}

${font StyleBats:size=20}4${font}${offset 8}${voffset -12}Steam Library 1: ${alignr}${offset -10}${fs_used /storage} / ${fs_size /storage}${alignr}${fs_bar /storage}
${offset 30}I/O Read: ${alignr}${offset -10}${diskio_read sdd1}${alignr}${diskiograph_read sdd1 8,100}
${offset 30}I/O Write: ${alignr}${offset -10}${diskio_write sdd1}${alignr}${diskiograph_write sdd1 8,100}

${font StyleBats:size=20}4${font}${offset 8}${voffset -12}Steam Library 2: ${alignr}${offset -10}${fs_used /storage} / ${fs_size /storage}${alignr}${fs_bar /storage}
${offset 30}I/O Read: ${alignr}${offset -10}${diskio_read sdc1}${alignr}${diskiograph_read sdc1 8,100}
${offset 30}I/O Write: ${alignr}${offset -10}${diskio_write sdc1}${alignr}${diskiograph_write sdc1 8,100}

${color 16c964}${font Ubuntu:size=11:bold}В И Д Е О К А Р Т А   ${hr 2}${font}${color}

${alignc}${color FFA300}${font Ubuntu:size=11,weight:bold}${color5}${execp  nvidia-smi --query-supported-clocks=gpu_name --format=csv,noheader}${font}${color}

${font StyleBats:size=20}u${font}${offset 8}${voffset -12}Температура ${alignr}${execi 60 nvidia-smi --query-gpu=temperature.gpu --format=csv,noheader} °C
${offset 30}Охлаждение активно на: ${alignr}${execi 60 nvidia-settings -q [fan:0]/GPUCurrentFanSpeed -t} %
${offset 30}Частота ${alignr}${execi 60 nvidia-settings -q GPUCurrentClockFreqs | grep -m 1 Attribute | awk '{print $4}' | sed -e 's/\.//' | cut -d, -f1} MHz
${offset 30}Память ${alignr}${execi 60 nvidia-settings -q [gpu:0]/UsedDedicatedGPUMemory -t} / ${exec nvidia-settings -q [gpu:0]/TotalDedicatedGPUMemory -t} MiB0
