# -----------------------------------------------------------------
# Project:                               God of Gnome
# Conky Theme:                           Gold Archy Artics v.2019
# Author:                                Alex Platon
# YouTube:                               https://bit.ly/2XAFjOm
# Vkontakte:                             https://bit.ly/2TnF3mt
# Instagram:                             https://bit.ly/2XHOfBw
# -----------------------------------------------------------------

alignment bottom_left

#own_window_colour 2F343F
background yes
use_xft yes
xftfont Ubuntu:size=11

default_outline_color FFFFFF
draw_outline no

default_shade_color FFFFFF
default_color FFFFFF
draw_shades no
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders no

# gap_x 125
# gap_y 300

# size of text area
minimum_size 310 200
maximum_width 256
maximum_high 410
max_text_width 290

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent yes
own_window_class MStyleConkyII_Power
own_window_type desktop
own_window_hints undecorated,sticky,skip_taskbar,skip_pager,below
stippled_borders 0
update_interval 1.0
uppercase no
use_spacer none

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 14
gap_y 109
own_window_argb_value 0
own_window_argb_visual yes
#own_window_colour 3D414F
own_window_colour 000000
TEXT
${color FFA300}${font Ubuntu:size=11} П К   Н А   Л И Н У К С Е   ${hr 2}${font}${color}
${color ffffff}#
#${font StyleBats:size=20}n${font}${offset 8}${voffset 0}Сессия активна:$alignr$uptime
#${if_match "${battery_short BAT1}" != "N"}#
#Using ${battery BAT1}
#Battery at ${battery_percent BAT1}%
#$else#
#${if_match "${battery_short BAT0}" != "N"}#
#Using ${battery BAT0} 
#Battery at ${battery_percent BAT1}%

${font StyleBats:size=20}a${font}${offset 8}${voffset 0}Система:$alignr${fs_used /}  ${color 66c383}${fs_bar 11,50 /}${color ffffff}
${if_match "${fs_used_perc /home}" != "${fs_used_perc /}"}#
home $alignr${fs_used /home} из ${fs_size /home} ${color 66c383}${fs_bar 11,40 /home}${color ffffff}
$else#${color 66c383}$alignr${fs_used_perc /}%

${font StyleBats:size=20}b${font}${offset 8}${voffset 0}Игры:$alignr${fs_used /mnt/proton/}  ${color 66c383}${fs_bar 11,50 /mnt/proton/}${color ffffff}
${if_match "${fs_used_perc /mnt/proton/}" != "${fs_used_perc /}"}#
#1: $alignr${fs_used /mnt/proton/} / ${fs_size /mnt/proton/} ${color 66c383}${fs_bar 11,40 /mnt/proton/}${color ffffff}
$else#${color 66c383}$alignr${fs_used_perc /mnt/proton/}%

${font StyleBats:size=20}h${font}${offset 8}${voffset 0}Home:$alignr${fs_used /mnt/user}  ${color 66c383}${fs_bar 11,50 //mnt/user}${color ffffff}
${if_match "${fs_used_perc /mnt/user}" != "${fs_used_perc /}"}#
#1: $alignr${fs_used /mnt/user} / ${fs_size /mnt/user} ${color 66c383}${fs_bar 11,40 /mnt/user}${color ffffff}
$else#${color 66c383}$alignr${fs_used_perc /mnt/user}%

$endif#


# Credit for Conky Theme Project God of Gnome 
$alignc${color FFA300}${font Ubuntu:size=7} С О З Д А Н О  П Р О Е К Т О М  @ G O D O F G N O M E   V . 2   ${font}${color}
