# -----------------------------------------------------------------
# Project:                               God of Gnome
# Conky Theme:                           Gold Archy Artics v.2019
# Author:                                Alex Platon
# YouTube:                               https://bit.ly/2XAFjOm
# Vkontakte:                             https://bit.ly/2TnF3mt
# Instagram:                             https://bit.ly/2XHOfBw
# -----------------------------------------------------------------

alignment top_left

#own_window_colour 2F343F
background yes
use_xft yes
xftfont Ubuntu:size=13

default_outline_color 609aa6
draw_outline no

default_shade_color 79b4c1
default_color 79b4c1
draw_shades no
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders no

# gap_x 125
# gap_y 300

# size of text area
minimum_size 470 200
maximum_width 256
maximum_high 200
max_text_width 250

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent yes
own_window yes
own_window_type desktop
own_window_transparent yes
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
stippled_borders 0
update_interval 1.0
uppercase no
use_spacer none
own_window_argb_visual yes
own_window_argb_value 0

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 14
gap_y 493
own_window_argb_value 0
own_window_argb_visual yes
#own_window_colour 3D414F
own_window_colour 000000
TEXT
${color FFA300}${font Ubuntu:size=11}П Р О Ц Е С С Ы   ${hr 2}${font}${color}
${color FFA300}#

${top name 1}#
${color ffffff}#
${font Ubuntu:size=11}#
$alignr ${top cpu 1}% ${top mem_res 1}

${top name 2}$alignr          ${top cpu 2}%, ${top mem_res 2}
${top name 3}$alignr   ${top cpu 3}%, ${top mem_res 3}
${top name 4}$alignr ${top cpu 4}%, ${top mem_res 4}
${top name 5}$alignr ${top cpu 5}%, ${top mem_res 5}
${top name 6}$alignr ${top cpu 6}%, ${top mem_res 6}
${top name 7}$alignr ${top cpu 7}%, ${top mem_res 7}
${top name 8}$alignr ${top cpu 8}%, ${top mem_res 8}

# Credit for Conky Theme Project God of Gnome 
$alignc${color FFA300}${font Ubuntu:size=7} Y О U T U B E . C O M  / C / G O D  O F  G N O M E   ${font}${color}
